/vendor/
/.env

/tmp/*
!/tmp/.gitkeep

/logs/*
!/logs/.gitkeep

/storage/*
!/storage/.gitkeep
!/storage/logs/
/storage/logs/*
!/storage/logs/.gitkeep
!/storage/runtime/
/storage/runtime/*
!/storage/runtime/.gitkeep

/Docs/

*.log

.idea/
.vscode/

.DS_Store
Thumbs.db
